/*

This is the custom css for the WordPress Manager Course v.1.0

*/

/* Font Face */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'),
         url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*OVERWRITE CSS THEME */
#load {
    background-color: rgba(60, 63, 139, 0.5)!important; 
    background: rgba(60, 63, 139, 0.5)!important; 
    background: -webkit-linear-gradient(30deg,rgba(60, 63, 139, 0.5) 0%,rgba(60, 63, 139, 0.5) 100%)!important;
    background: linear-gradient(30deg,rgba(60, 63, 139, 0.5) 0%,rgba(60, 63, 139, 0.5) 100%)!important;
}

.filter-style-ios.accent-gradient .filter-categories a.act:after, 
.filter-style-ios.accent-gradient .content .filter-categories.new-style a.act:after, 
.filter-style-ios.accent-gradient .filter-categories a.act, 
.filter-style-ios.accent-gradient 
.filter-categories a.act, 
.filter-style-ios.accent-gradient .content .filter-categories.new-style a.act, 
.filter-style-ios.accent-gradient .filter-categories a.act, 
.filter-style-ios.accent-gradient .filter-switch, 
.filter-style-ios.accent-gradient 
.paginator a.act:before, 
.filter-style-ios.accent-gradient .paginator a.act, 
.filter-style-ios.accent-gradient .paginator a.act {
    -webkit-transition: background-color 2000ms ease-out 3s!important;
    -moz-transition: background-color 2000ms ease-out 3s!important;
    -o-transition: background-color 2000ms ease-out 3s!important;
    transition: background-color 2000ms ease-out 3s!important;
    background: #461864!important;
    background: -moz-linear-gradient(top, #461864 0%, #8989ba 100%)!important;
    background: -webkit-linear-gradient(top, #461864 0%,#8989ba 100%)!important;
    background: linear-gradient(to bottom, ##461864 0%,#8989ba 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#461864', endColorstr='#8989ba',GradientType=0 )!important;
    border-radius: 100px!important;
    -moz-border-radius: 100px!important;
    -webkit-border-radius: 100px!important;
    margin: 0px;
    padding: 11px 14px;
}
.bivt-nav-news .filter-categories a {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}
#content > * {
   max-width: 100%!important; 
}
.show-all.act::before {
    content: none!important;
}
/* CUSTOMIZED FOOTER */
.demo-panel {
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 9409;
    min-height: 100%;
    width: 0;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    transition: width .5s;
    font: 14px/24px "Open Sans",Helvetica,Arial,Verdana,sans-serif;
}
.switch-panel {
    /*display: block;*/
    position: absolute;
    /*left: -50px; */
    top: 100px;
   /* width: 50px;*/
    height: 100px;
    /*box-shadow: 0 0 6px rgba(0,0,0,.25);
    background: #fff;*/
}
.switch-panel a {
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    height: 50px;
    width: 50px;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    /* -webkit-align-items: center; */
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.demo-teaser:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -12px;
    margin-top: -6px;
    border-color: transparent transparent transparent rgba(0,0,0,.72);
    border-style: solid;
    border-width: 6px;
}
.switch-panel a img {
    width: 28px;
    height: 28px;
    opacity: .7;
    transition: all .2s;
}
.demo-teaser{
    right: 15px;
    width: 200px;
    height: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity .4s,right .4s;
    position: absolute;
    top: -20px;
    padding: 14px 15px 15px 18px;
    color: #fff;
    background: rgba(0,0,0,.75);
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
}

.demo-teaser strong {
    display: inline-block;
    font-size: 14px;
    padding-bottom: 5px;
}
#footer .wf-container {
    padding: 0 5px;
}
/* END CUSTOMIZED FOOTER */


.main-nav > li.act > a .menu-text, 
.main-nav > li.act > a .subtitle-text,
.upwards-line > li > a .menu-item-text:before,
.main-nav > li:not(.act) > a:hover .subtitle-text, .main-nav > li:not(.act) > a:hover .menu-text, .main-nav > li.dt-hovered:not(.act) > a .subtitle-text, .main-nav > li.dt-hovered:not(.act) > a .menu-text {
    /* IE10+ */ 
    background-image: -ms-linear-gradient(left, #461864 0%, #8989BA 100%)!important;

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(left, #461864 0%, #8989BA 100%)!important;

    /* Opera */ 
    background-image: -o-linear-gradient(left, #461864 0%, #8989BA 100%)!important;

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #461864), color-stop(100, #8989BA))!important;

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(left, #461864 0%, #8989BA 100%)!important;

    /* W3C Markup */ 
    background-image: linear-gradient(to right, #461864 0%, #8989BA 100%)!important;
}



.bivt-fonts {
    font-family: 'Glyphicons Halflings', sans-serif;
}

/* AUTO SELECT OVERWRITE*/
.select2.select2-container {
    width: 100%!important;
}
.select2-container--default .select2-search--inline .select2-search__field {
    width: 100%!important;  
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: #66afe9!important;
}
.has-error .mce-tinymce.mce-container.mce-panel {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
/* Text Align*/
#FormHomework label {
    text-align: left;
}

/* LABELS */

.clabel {
    padding: 10px 0px;
}

/* TABLE HEADERS CUSTOM WIDTH*/

.th_1 {
    width: 10px;
}

.th_2 {
    width: 20px;
}

.th_3 {
    width: 30px;
}

.th_4 {
    width: 40px;
}

.th_5 {
    width: 50px;
}


/* PAGINATION CSS */

.tablenav .current {
    font-size: 20px;
    color: #000;
}

/* Custom Icon CSS */

.bivt-plus-icon {
    color: #4890cd;
    font-family: 'Glyphicons Halflings', sans-serif;
}


#bivt-table {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #f2f2f2;
}

table#bivt-table td span.glyphicon{
    color: #8989ba;
}
table#bivt-table .modal .modal-body input[type="text"] {
    color: #000000!important;
}
table#bivt-table tr a {
    text-decoration: none;

}

table#bivt-table .btn-link {
    color: #676B6D;
}
table#bivt-table > tbody tr:hover,
table#bivt-table tr:hover td span.glyphicon,
table#bivt-table tr:hover .btn-link {
    color: #ffffff;
    transition: none;
}
table#bivt-table > tbody .modal-dialog {
    color: #676b6d!important;
}
table#bivt-table tr:hover td .modal-dialog  span.glyphicon {
    color: #461864!important;
}
.pagination>.active>a, .pagination>.active>a:focus{
    color: #ffffff!important;
}
.pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #8989ba!important;
    border-color: #8989ba!important;
    color: #ffffff!important;
}
.pagination>li>a, .pagination>li>span  {
    color: #8989ba!important;
}
#bivt-table td, #bivt-table th {
    text-align: left;
    padding: 6px;
}

#bivt-table tr:nth-child(even){background-color: #f2f2f2}

#bivt-table tr:hover {background-color: #8989ba;}

#bivt-table th {
    background-color: #8989ba;
    color: #ffffff;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1370px!important;
        width: 100%!important;
    }
}
.container h3 {
    margin-left: 13px;
    margin-top: 13px;
}


ul#menu-admin-menu {
	/*overflow: hidden;*/
    margin: 0px auto;
    padding: 0;
}

ul#menu-admin-menu li {
	float:left;
    color: #FFFFFF;
    list-style: none;
    padding:10px;
    font-size:16px;
}

ul#menu-admin-menu li:hover:not(.active),
ul#menu-admin-menu .active {
    background: #8989ba;
}

ul#menu-admin-menu li a {
	text-decoration: none;
	color: #FFFFFF;
}
ul#menu-admin-menu ul.dropdown-menu li {
    width: 100%;
}
ul#menu-admin-menu ul.dropdown-menu li a {
    color: #8989ba!important;
}
ul#menu-admin-menu ul.dropdown-menu li a:hover {
    background-color: #8989ba!important;
    color: #ffffff!important;
}
.bivt_wrapper {
	border: 2px solid #8989ba;
    min-height: 200px;
}

.bivt_wrapper_mod,
.bivt_wrapper {
    border: 2px solid #8989ba;
}
.bivt_wrapper_mod .glyphicon,
.bivt_wrapper_mod .btn-link:hover span,
.bivt_wrapper .glyphicon,
.bivt_wrapper .btn-link:hover span{
    color: #8989ba;
}

.bivt_add_container {
    padding:5px 15px;
}
.bivt_add_container .btn,
.bivt_add_container a {
    display: block;
}
.filter-display-product #accordion .panel-default a {
    text-decoration: none!important;
}
.bivt_action_wrapper {
    font-size: 24px;
    color: #ffffff;
    border-bottom: 1px solid #8989ba;
    padding: 5px;
    background: #8989ba;
}

.bivt_action_wrapper label {
    margin-left: 10px;
}

.menu_wrapper {
    width: 100%;
    background: #461864;
}

ul#menu-teacher-menu {
    overflow: hidden;
    margin: 0px auto;
    padding: 0;
}

ul#menu-teacher-menu li:hover:not(.active),
ul#menu-teacher-menu .active {
    background: #8989ba;
}

ul#menu-teacher-menu li {
    float:left;
    color: #FFFFFF;
    list-style: none;
    padding:10px;
    font-size:16px;
}

ul#menu-teacher-menu li a {
    text-decoration: none;
    color: #FFFFFF;
}


.std-filter-course {
    float: right;
}


label.std-filter-course  {
    position: relative;
    display: inline-block;
}

.std-filter-course  select {
    display: inline-block;
    border: 2px solid #bbb;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #f8f8f8;
    
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

/* for Webkit's CSS-only solution */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    .std-filter-course  select {
        padding-right:30px;    
    }
}

#masthead.header-master {
    -webkit-transition: background-color 2000ms ease-out 3s;
    -moz-transition: background-color 2000ms ease-out 3s;
    -o-transition: background-color 2000ms ease-out 3s;
    transition: background-color 2000ms ease-out 3s;
    background: #8989ba;
    background: -moz-linear-gradient(top, #8989ba 0%, #8989ba 100%);
    background: -webkit-linear-gradient(top, #8989ba 0%,#8989ba 100%);
    background: linear-gradient(to bottom, #8989ba 0%,#8989ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 );
}

/* Since we removed the default focus styles, we have to add our own */
.std-filter-course select:focus {
    -webkit-box-shadow: 0 0 3px 1px #c00;
    -moz-box-shadow: 0 0 3px 1px #c00;
    box-shadow: 0 0 3px 1px #c00;
}

/* Select arrow styling */
.std-filter-course:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: #bbb;
    color: white;
    
    pointer-events:none;
    
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}

.no-pointer-events .std-filter-course:after {
    content: none;
}

/* Nav for Content*/
.bivt-nav-news {
    margin: 40px 0px 30px;
}
.bivt-nav-news ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #8989ba; 
    background: -moz-linear-gradient(top,  #8989ba 0%, #8989ba 100%); 
    background: -webkit-linear-gradient(top,  #8989ba 0%,#8989ba 100%); 
    background: linear-gradient(to bottom,  #8989ba 0%,#8989ba 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 );

}

.bivt-nav-news li {
    float: left;
}

.bivt-nav-news li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bivt-nav-news li a:hover:not(.active), 
.bivt-nav-news .active {
    background: #461864;
}

/* SIDEBAR AREA */
.bivt-sidebar .user-nav {
    height: auto;
    display: inline-block;
    position: relative;
    width: 100%;
}
.bivt-sidebar .user-nav ul {
    list-style: disc outside none;
    margin-bottom: 25px;
    display: inline-flex;
}
.bivt-sidebar .user-nav ul li {
    list-style: none;
    margin: 9px 0px;
}

.bivt-sidebar .user-nav ul li a {
    color: #ffffff;
    font-size: 14px;
    position: relative;
    padding: 8px 20px;
    background: #461864;
    display: inline-block;
    float: left;
    margin: -17px 3px;

}
.bivt-sidebar .user-nav ul li a i {
    margin-right: 5px;
}
.bivt-sidebar .user-nav ul li a:hover {
    background: #8989ba;
    background: -moz-linear-gradient(top, #8989ba 0%, #8989ba 100%);
    background: -webkit-linear-gradient(top, #8989ba 0%,#8989ba 100%);
    background: linear-gradient(to bottom, #8989ba 0%,#8989ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 );
    text-decoration: none;
}

.accre-label {
    margin: 0px;
    margin-top: 30px;
    color: #764C77;
}

.accreditaties-menu {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    padding-top: 15px;
}
.accreditaties-menu a {
    text-decoration: none;
}

/* News */
.shown.thumb {
    margin: 17px 0;
}
.thumb a.thumbnail:hover{
    text-decoration: none;
}
.thumb a.thumbnail label {
    color: #461864;
    text-align: center;
    margin-top: 20px;
    display: block;
    height: 63px;
}

.thumb a.thumbnail p {
    text-align: justify;
    color: #333;
    height: 299px;
}
.thumb a.thumbnail .tools {
    margin-top: 22px;
    color: #461864;
}

#menu-admin-menu .dropdown span.menu-text {
    display: inline-block;
}


.img-responsive {
    margin: 10px 0px;
}

a.news-subscribe {
    font-weight: bold;
    color: #ffffff;
    background: #461864;
    padding: 10px;
    float: right;
    margin-right: 10px;
}
a.news-subscribe:hover {
    text-decoration: none;
    -webkit-transition: background-color 2000ms ease-out 3s;
    -moz-transition: background-color 2000ms ease-out 3s;
    -o-transition: background-color 2000ms ease-out 3s;
    transition: background-color 2000ms ease-out 3s;
    background: #8989ba;
    background: -moz-linear-gradient(top, #8989ba 0%, #8989ba 100%);
    background: -webkit-linear-gradient(top, #8989ba 0%,#8989ba 100%);
    background: linear-gradient(to bottom, #8989ba 0%,#8989ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 );
}

a.enrol-course {
    font-weight: bold;
    color: #ffffff;
    background: #461864;
    padding: 10px;
    float: right;
    margin-right:10px;
}
a.enrol-course:hover {
    text-decoration: none;
    -webkit-transition: background-color 2000ms ease-out 3s;
    -moz-transition: background-color 2000ms ease-out 3s;
    -o-transition: background-color 2000ms ease-out 3s;
    transition: background-color 2000ms ease-out 3s;
    background: #8989ba;
    background: -moz-linear-gradient(top, #8989ba 0%, #8989ba 100%);
    background: -webkit-linear-gradient(top, #8989ba 0%,#8989ba 100%);
    background: linear-gradient(to bottom, #8989ba 0%,#8989ba 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8989ba', endColorstr='#8989ba',GradientType=0 );
}

.action {
    width:160px;
}

.action a {
    text-decoration: none;
}

p.disclaimer {
    font-size: 13px;
    font-style: oblique;
    padding: 10px 15px;
    background-color: #ccccfc;
}

.course_table tr {
    border-bottom: 1px solid #ddd;
}

.course_table tr th {
    padding: 10px 40px 10px 0px;
}

.course_table tr:nth-child(even){background-color: #f2f2f2}

.course_table tr:hover {background-color: #8989ba;}

.accreditaties_table tr {
    border-bottom: 1px solid #ddd;
}

.accreditaties_table tr th {
    padding: 10px 40px 10px 0px;
}

.accreditaties_table tr:nth-child(even){background-color: #f2f2f2}

.accreditaties_table tr:hover {background-color: #8989ba;}


/* ADMIN - USERS AREA*/
.admin-user-nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.admin-user-nav ul li {
    float: left;
    list-style: none;
}
.admin-user-nav ul li:hover,
.admin-user-nav ul li.active {
    font-weight: bold;
}
.admin-user-nav ul li a {
    display: block;
    color: #4890cd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
.courses_wrapper, .accreditaties_wrapper {
    margin-top: 15px;
}

.x-close {
    display: none;
    cursor: pointer;
    position:absolute;
    background:url('../images/fancybox_sprite.png') no-repeat 0px 0px;
    color: white;
    width: 38px;
    height: 33px;
    right: 15px;
    top: 10px;
    text-align: center;
}

.hw-label {
    font-size: 28px;
}

/* OVERWRITE THUMB*/
.rollover-project, .rollover-project,  .rollover-project {
    background: none!important;
}
/*.rollover-content:hover {
    cursor: initial!important;
}*/
.wf-wrap {
    padding: 0px!important;
}
.filter-style-ios .filter-categories a:not(.act):hover, .filter-style-minimal .filter-categories a:not(.act):hover, .filter-style-ios .filter .filter-categories a:hover > span, .filter-style-minimal .filter .filter-categories a:hover > span, .filter-style-ios .filter .filter-extras a:hover, .filter-style-minimal .filter .filter-extras a:hover {
    color: #8989ba!important;
}

/* OVERWRITE CORE CSS */
.page-title.solid-bg {
    min-height: 15px!important;
}
#main > .wf-wrap, #bottom-bar > .wf-wrap, #footer > .wf-wrap {
    width: 100%!important;
    /*max-width: 1250px!important;*/
}
.page-title .wf-wrap {
    width: 100%!important;
    padding: 0px;
}

#footer .wf-container-footer {
    padding-top: 0!important;
}
#footer section .cff-wrapper p.cff-post-text {
    max-height: 95px;
    overflow: hidden;
}
.articles-list.loading-effect-fade-in {
    display: none;
}
 #footer  .wf-wrap {
    max-width: 1250px;
    padding-top: 15px;
 }
.page-title .wf-wrap .content > p,
#main .wf-wrap .content > p {
    width: 1250px!important;
    margin: 0 auto;
}
#main {
    padding: 0px!important;
}
@media (min-width: 1251px) {
    .masthead:not(.side-header):not(.mixed-header) .header-bar{
        max-width: 1250px!important;
    }
}
.filter-style-ios .filter-categories .act:before, .filter-style-ios.filter-categories .act.show-all:hover:before {
    background: none!important;
}
.main-nav > li.act > a .menu-text, .main-nav > li.act > a .subtitle-text {
    color: #461864;
    background: -webkit-gradient(linear,left top,right top,color-stop(32%,#461864),color-stop(100%,#8989ba))!important;
    background: -webkit-linear-gradient(left,#461864 32%,#8989ba 100%)!important;
    -webkit-background-clip: text!important;
    -webkit-text-fill-color: transparent!important;
}

/*ADDED CSS FOR CUSTOM CONTAINER*/
.inner-container *,
.woocommerce *{
    max-width: 1250px!important;
    margin: 0 auto!important;
}
.woocommerce {
    
}
.inner-container,
.woocommerce {
    margin-bottom: 20px;
}
.woocommerce .shop_table.cart .product-thumbnail a img{
    width: auto;
}
#bannerRand {
    display: none !important;
}


/* Start place order button CSS */
#place_order_inner_parent {
    position: relative;
}

#place_order_protective {
    position:absolute;
    width:104px;
    top:0px;
    left:0px;
    background:#f5f2f2;
    z-index:1000;
    height:52px;
    opacity:0.5;
}
/* End place order button CSS */

.form_style {
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*Generic CSS*/

.pad-10 {
    padding: 10px;
}